.navbar{
  display: flex;
  margin:0 -15px;
}

.navbar-items {
  flex-grow: 1;
  display: flex;
  flex-wrap:wrap;
  list-style: none;
  padding: 0;
  margin:0;
}

.navbar-items li {
  flex-basis: 50%;
}

.navbar-item:nth-child(1) {
  order: 1; 
}

.navbar-item:nth-child(2) {
  order: 3;

}

.navbar-item:nth-child(3) {
  order: 4;
}

.navbar-item:nth-child(4) {
  order: 2;
  color: #0065FC;
}

.navbar-link {
  padding: 15px;
  display: block;
  font-weight: 600;
}
.navbar-border-bottom [data-active=true] {
  color: #0065FC;
  border-bottom: #0065FC;
}

.navbar-link-large {
  font-weight: 700;
}
@media screen and (max-width: 798px){
.navbar-border-bottom {
  border-bottom: 3px solid #F2F2F2;
}
.navbar-border-bottom[data-active=true] {
  color: #0065FC;
  border-bottom-color: #0065FC;
}
.navbar-border-bottom:hover {
  color: #0065FC;
  border-bottom-color: #0065FC;
}
}

 
/* for Desktop  */
 @media screen and (min-width:768px) {
.navbar-item:nth-child(2) {
  order: 1;
  flex-grow: 0;
  }

.navbar-item:nth-child(3) {
  order: 1;
  flex-grow: 0;
  }

.navbar-item:nth-child(4) {
  order: 1;
  flex-grow: 0;
  }


.navbar-items li {
  flex-basis: auto;
}

.navbar-border-top {
  border-top: 3px solid #F2F2F2;
}
.navbar-border-top[data-active=true] {
  color: #0065FC;
  border-top-color: #0065FC;
}
.navbar-border-top:hover {
  color: #0065FC;
  border-top-color: #0065FC;
}

.navbar-border-bottom {
  border-bottom: none;
}
  
}


 