.searchHeaderTitle {
  margin-bottom: 0.5 rem;
}
.searchHeaderSubtitle {
  margin-top: 0;
}
.searchForm {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.searchFormIcon {
  background-color: #F2F2F2;
  padding: .5rem .5rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
  margin-left: 0.1rem;
}
.searchFormInput {
  border-top: #F2F2F2 1.5px solid;
  border-bottom: #F2F2F2 1.5px solid;
  border-right: none;
  border-left: none;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 17rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
.searchFormInput::placeholder {
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  color: #00000069;
}
.searchFormSubmitButton {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .searchForm {
    display: flex;
    width: 100%;
  }
  .searchFormInput {
    flex: 1;
  }
  .searchFormSubmitButtonText {
    display: none;
  }
  .searchFormSubmitButtonIcon {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .searchFormSubmitButtonText {
    display: block;
  }
  .searchFormSubmitButtonIcon {
    display: none ;
  }
}
